body {
    background: black;
}

.intro-title {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
}

p {
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}